{% extends 'Vitario/base.html' %}

{% block body %}
<h1>Perfil</h1>

  <div class="card mb-3" style="max-width: 840px;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="{{ perfil.foto.url }}" class="img-fluid rounded-start" alt="{{ perfil.nombre }}">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">{{ perfil.nombre }}</h5>
          <p class="card-text">
            <form action="{% url 'Vitario:actualizar_perfil' %}" method="post">
              {% csrf_token %}
              <label for="">Nombre</label>
                <input type="text" name="nombre" class="form-control" value="{{ perfil.nombre }}">
              <label for="">Direccion</label>
                <input type="text" name="direccion" class="form-control" value="{{ perfil.direccion }}">
              <label for="">Telefono</label>
                <input type="numbre" name="telefono" class="form-control" value="{{ perfil.telefono }}">
              <label for="">Correo</label>
                <input type="email" name="correo" class="form-control" value="{{ perfil.correo }}">
              <label for="">Usuario</label>
                <input type="text" name="usuario" class="form-control" value="{{ perfil.usuario }}">
              <label for="">Contraseña</label>
              <h6>NOTA: si no quieres cambiar la contraseña dejala en blanco</h6>
                <input type="password" name="clave" class="form-control"><br>
              <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
          </p>
        </div>
      </div>
    </div>
  </div>
        

{% endblock %}