{% extends 'Vitario/base.html' %}

{% block body %}

<div class="signup-form">
    <form  action="{% url 'Vitario:guardar_usuario' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>REGISTRO</h2>
        <div class="form-group">
            <input type="text" class="form-control" name="nombre" placeholder="Nombre" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="direccion" placeholder="Direccion" required="required">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="telefono" placeholder="Telefono" required="required">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="correo" placeholder="Correo" required="required">
        </div>
        <div class="form-group">
            <input type="tel" class="form-control" name="usuario" placeholder="Usuario" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="clave" placeholder="Contraseña" required="required">
        </div>
        <input type="hidden" name="rol" value="C" >
        <div class="form-group">
            <label for="text">Foto: </label>
            <input type="file" class="form-control" name="foto" placeholder="Foto" accept="image/">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-secondary">Guardar</button>
        </div>
        <div class="text-center">Ya tienes una cuenta?
            <a href="{% url 'Vitario:loginForm' %}">Iniciar sesion</a>
        </div>
    </form>
</div>
{% endblock  %}