
{% extends 'Vitario/base.html' %}

{% block body %}

<h1>CREAR FACTURAS</h1>

<form style="text-align:center;" action="{% url 'Vitario:guardar_factura' %}" method="post">
    {% csrf_token %}

    <label for="">Nombre del producto</label><br />
    <select class="form-control" name="nombre_producto" style="width:70%; margin-left: auto; margin-right:auto;">
        {% if producto %}
            {% for registro in producto %}
                <option value="{{registro.id}}">{{registro.nombre_producto}}</option>
            {% endfor %}
        {% else %}
            <h1>No hay datos</h1>
        {% endif %}
    </select><br/>
    
    <label for="">Cantidad</label><br />
    <input type="text" class="form-control" name="cantidad" style="width:70%; margin-left: auto; margin-right:auto;"><br/>

    <label for="">total sin descuento</label><br />
    <input type="number" class="form-control" name="total_sin_descuento" style="width:70%; margin-left: auto; margin-right:auto;"><br/>

    <label for="">Descuento</label><br />
    <input type="number" class="form-control" name="descuento" style="width:70%; margin-left: auto; margin-right:auto;"><br/>

    <label for="">Total con descuento</label><br />
    <input type="number" class="form-control" name="total_con_descuento" style="width:70%; margin-left: auto; margin-right:auto;"><br/>

    <label for="">Medio de Pago</label><br />
    <select class="form-control" name="medio_pago" style="width:70%; margin-left: auto; margin-right:auto;">
        <option value="E">Efectivo</option>
        <option value="T">Transferencia</option>
        <option value="A">Tarjeta</option>
    </select><br/>

    <label for="">usuario</label><br />
    <select class="form-control" name="usuario" style="width:70%; margin-left: auto; margin-right:auto;">
        {% if usuario %}
            {% for registro in usuario %}
                <option value="{{registro.id}}">{{ registro.usuario }}</option>
            {% endfor %}
        {% else %}
            <h1>No hay datos</h1>
        {% endif %}
    </select><br/>

    <label for="">Servicios</label><br />
    <select class="form-control" name="servicio" style="width:70%; margin-left: auto; margin-right:auto;">
        {% if servicio %}
            {% for registro in servicio %}
                <option value="{{registro.id}}">{{registro.nombre_servicio}}</option>
            {% endfor %}
        {% else %}
            <h1>No hay datos</h1>
        {% endif %}
    </select><br/>

    <button type="submit" class="btn btn-primary">Guardar</button><br><br>
</form>
{% endblock  %}

