{% extends 'Vitario/base.html' %}

{% block body %}

    <div id="tabla">
        {% if datos %}
            {% for i in datos %}
                <div class="card" id="card">
                    <h3>Servicio</h3>
                    <div class="linea"></div>
                    <h5 class="card-title">{{ i.nombre_servicio }}</h5>
                    <img id="img-card" src="{{ i.foto.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4>Precio:</h4>
                        <h5>${{ i.precio_servicio }}</h5>
                        <div class="linea"></div>
                        <br>
                        {% if request.session.logueo %}
                        <a class="btn btn-info" href="{% url 'Vitario:apartarCita' %}">Agendar cita</a>
                        {% else %}
                        <a class="btn btn-info" href="{% url 'Vitario:loginForm' %}">Iniciar session para agendar una cita</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>No hay datos</h1>
        {% endif %}
    </div><br>

{% endblock  %}