{% extends 'Vitario/base.html' %}

{% block body %}

<div class="signup-form">
    <form  action="{% url 'Vitario:guardar_cita' %}" method="post">
        {% csrf_token %}
        <h2>AGENDAR CITA</h2>
        <div class="form-group">
            <label for="">Usuario</label><br />
            <select class="form-control" name="nombre" required="required">
                {% if user %}
                    {% for registro in user %}
                        <option value="{{registro.id}}">{{registro.nombre}}</option>
                    {% endfor %}
                {% else %}
                    <h1>No hay datos</h1>
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label for="">Hora y Fecha</label><br />
            <input type="datetime-local" class="form-control" name="hora_fecha" placeholder="Hora y Fecha" required="required">
        </div>
        <div class="form-group">
            <label for="">Servicio</label><br />
            <select class="form-control" name="nombre_servicio" required="required">
                {% if datos %}
                    {% for registro in datos %}
                        <option value="{{registro.id}}">{{registro.nombre_servicio}}</option>
                    {% endfor %}
                {% else %}
                    <h1>No hay datos</h1>
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-secondary">Guardar</button>
        </div>
    </form>
</div>
{% endblock  %}
