
{% extends 'Vitario/base.html' %}

{% block body %}

<h1>CREAR CITAS</h1>

<form style="text-align:center;" action="{% url 'Vitario:guardar_cita' %}" method="post">
    {% csrf_token %}

    <label for="">Id de la cita</label><br />
    <input type="text" class="form-control" name="id_cita" style="width:70%; margin-left: auto; margin-right:auto;"><br/>

    <label for="">Hora y fecha</label><br />
    <input type="date" class="form-control" name="hora_fecha" style="width:70%; margin-left: auto; margin-right:auto;"><br/>

    <label for="">Servicio</label><br />
    <select class="form-control" namioe="servicio" style="width:70%; margin-left: auto; margin-right:auto;">
        {% if datos %}
            {% for registro in datos%}
                <option value="{{registro.id}}">{{registro.nombre_servicio}}</option>
            {% endfor %}
        {% else %}
            <h1>No hay datos</h1>
        {% endif %}
    </select><br/>

    <button type="submit" class="btn btn-primary">Guardar</button><br><br>
</form>
{% endblock  %}

