
{% extends 'Vitario/base.html' %}

{% block body %}

<h1>MODIFICAR CITAS <strong> -_- {{ datos.id_cita }} -_-</strong></h1>

<form style="text-align:center;" action="{% url 'Vitario:actualizar_cita' %}" method="post">
    {% csrf_token %}

    <input type="hidden" name="id" value="{{datos.id}}" >

    <label for="">Hora y fecha</label><br />
    <input type="datetime-local" class="form-control" name="hora_fecha" style="width:70%; margin-left: auto; margin-right:auto;" value="{{ datos.hora_fecha }}"><br/>

    <!-- <label for="">Servicio</label><br />
    <select class="form-control" name="nombre_servicio" style="width:70%; margin-left: auto; margin-right:auto;" value="{{ datos.nombre_servicio }}">
        {% if servi %}
            {% for registro in servi %}
                <option value="{{registro.id}}">{{registro.nombre_servicio}}</option>
            {% endfor %}
        {% else %}
            <h1>No hay datos</h1>
        {% endif %}
    </select><br/> -->

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock  %}